<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>Frontend Mentor | Age calculator app</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  
</head>
<body> 
  
  <div id="app" class="container">
    <div class="flex-container">
      <div  :class="{  'text-danger': danger }" >
        <p>DAY<p/>
        </div>

        <div  :class="{  'text-danger': danger }" >
          <p> Month</p></div>

          <div  :class="{  'text-danger': danger }" >
            <p>YEAR</p></div>
           <div >
            <input :class="[status]" type="number" v-model="day" id="day" min = 1 max =31>
           </div>
           <div >
            <input :class="[status]" type="number" v-model="mounth" id="mounth" min=1 max=12>
           </div>
           <div >
            <input :class="[status]" type="number" v-model="year" id = "year">
           </div>
      <div><h4  :class="{  'error-text': danger }" v-if="is_day_invalid">{{message.day}}</h4></div>
      <div><h4  :class="{ 'error-text': danger}" v-if=" is_month_invalid">{{message.month}}</h4></div>
      <div> <h4  :class="{ 'error-text': danger }" v-if="is_year_invalid">{{message.year}}</h4></div>
        <div style="flex-grow: 8;"><hr></div>
         <div>
          <img src="assets/images/icon-arrow.svg"
          clsss ="img-fluid rounded " alt=""   @click="caculate()" ></div>
         </div>



    <!-- <p>{{message}}</p> -->
    <h1><strong><span class = "puprel">{{result.years}} </span> Years</strong></h1>
    
    <h1> <strong><span class = "puprel">{{result.months}}</span> Months</strong></h1>
   
    <h1><strong><span  class = "puprel">{{result.days}}</span> Days</strong></h1>
  </div>
 
  <script>
    const { createApp } = Vue
    

    createApp({
      data() {
        return {
          message: {day:"",month:"" , years:""},
          year :"" ,
          mounth :"",
          day:"",
          result :{days:"--",months:"--",years:"--"},
          status :"" ,
          danger:false ,
           is_day_invalid:false,
           is_month_invalid:false,
           is_year_invalid:false,
        }},
        methods: {
   is_valid(){

    if(this.day =="" ){
      this.status ="error";
      this.message.day = "This field is required";
      this.is_day_invalid= true;
      this.danger = true;

    }
  if(this.mounth =="" ){

      this.status ="error";
      this.message.month = "This field is required";
      this.is_month_invalid= true;
      this.danger = true;

    }
    if(this.year =="" ){

      this.status ="error";
      this.message.year = "This field is required";
      this.is_year_invalid= true;
      this.danger = true;
    }
    return ! (this.is_day_invalid
      &&this.is_month_invalid&&this.is_year_invalid);
    return true;
  },
  caculate() {
    
    if(!this.is_valid()){
      return "";
    }
    // if(this.is_day_invalid
    //        ||this.is_month_invalid
    //        ||this.is_year_invalid){
    //   return "";
    // }
    event.preventDefault();
    

    const dob = new Date(this.year,this.mounth,this.day);
    var dobYear = dob.getYear();  
    var dobMonth = dob.getMonth();  
    var dobDate = dob.getDate();
    console.log(dobYear,dobMonth,dobDate)  
    const now = new Date();
    var currentYear = now.getYear();  
    var currentMonth = now.getMonth();  
    var currentDate = now.getDate();   
    console.log(currentYear,currentMonth,currentDate); 
    yearAge = currentYear - dobYear;  
      
    
    if (currentMonth >= dobMonth)  
      var monthAge = currentMonth - dobMonth;  
    else {  
      yearAge--;  
      var monthAge = 12 + currentMonth - dobMonth;  
    }  
  
   
    if (currentDate >= dobDate)    
      var dateAge = currentDate - dobDate;  
    else {  
      monthAge--;  
      var dateAge = 31 + currentDate - dobDate;  
  
      if (monthAge < 0) {  
        monthAge = 11;  
        yearAge--;  
      }  
    }
    this.result = {  
    years: yearAge,  
    months: monthAge,  
    days: dateAge  
    };      
    return true;
    
  }},
   watch:{
    day(value){
      if (value >31 ||value<1){
      this.status ="error";
      this.message.day = "Must be valid day";
      this.danger = true;
      this.is_day_invalid= true;
    }
    },
    mounth(value){

      if  (value>12 ||value<1){
      this.status ="error";
      this.danger = true;
      this.message.mounth = "Must be valid mounth";
      this.is_month_invalid= true;
    }
  },
    year(value){
    now = new Date().getFullYear();
    if  (value>now||value<1){
      this.status ="error";
      this.danger = true;
      this.message.year = "Must be in past";
      this.is_year_invalid= true;
    }},
    }}).mount('#app')
  </script>
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">AmirQuf</a>.
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</html>
