<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>Frontend Mentor | Age calculator app</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  
</head>
<body> 
  
  <div id="app" class="container">
    <div class="flex-container">
      <div  :class="{  'text-danger': danger }" >DAY</div>
      <div  :class="{ 'text-danger':  danger}" >MONTH</div>
      <div  :class="{ 'text-danger':danger }" >YEAR</div>
    </div>
    
    <form action="#" class="flex-container">
    
      <input :class="[status]" type="number" v-model="day" id="day" min = 1 max =31>
      <input :class="[status]" type="number" v-model="mounth" id="mounth" min=1 max=12>
      <input :class="[status]" type="number" v-model="year" id = "year">
      
      <div class ="row mx-2">
      <button class= 'btn btn-success' @click="caculate()">submit</button>
    </div>

    </form>

    <hr></hr>
    <p>{{message}}</p>
    <h2> <span class = "puprel">{{result.years}} </span> year</h2>
    <br>
    <h2> <span class = "puprel">{{result.months}}</span> month</h2>
    <br>
    <h2><span  class = "puprel"> {{result.days}}</span> days</h2>
  </div>
 
  <script>
    const { createApp } = Vue
    

    createApp({
      data() {
        return {
          message: 'Hello Vue!',
          year :"" ,
          mounth :"",
          day:"",
          result :{days:"--",months:"--",years:"--"},
          
          status :"" ,
          danger:false ,
      
        }},
        methods: {
  caculate() {
    
    event.preventDefault();
    const today = new Date(); 
    if (this.year>today.getFullYear()||this.year<1
    ||this.mount>31||this.mounth<1||
    this.day>31 ||this.ay<1){
      return false;
    }
            b = new Date(this.year, this.mounth,this.day);
            console.log(b);
            diff = today.getTime()-b.getTime();
            var day = 1000 * 60 * 60 * 24;
            var days = Math.floor(diff/day);
            var months = Math.floor(days/31);
            var years = Math.floor(months/12);
            days = days-(years*360);
            months = Math.floor(days/31);
            days = days-(months*31);
            this.result = {days:days,months:months,years:years};
            return; 
  }
},
   watch:{
    day(value){
      if (value >31 ||value<1){
      this.status ="error";
      this.message = "enter valid value";
      this.danger = 'er';
    }
    },
    mounth(value){
      if  (value>12 ||value<1){
      this.status ="error";
      this.danger = true;
      this.message = "enter valid value";
    }
  },
    year(value){
    now = new Date().getFullYear();
    if  (value>now||value<1){
      this.status ="error";
      this.danger = true;
      this.message = "enter valid value";
    }},
    }}).mount('#app')
  </script>
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">AmirQuf</a>.
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</html>
